@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Telehome - Elektronik Cihazların Satışı</title>
    <meta name="keywords" content="Telehome, elektronik cihazlar, mobil telefon, telefon, televizor, kompüter, ağıllı saat, smart watch, airpods, qulaqlıq">
    <meta name="author" content="AimTech, Telehome">
    <meta name="description" content="Telehome, uyğun qiymətlərlə ən yeni elektronik cihazları təqdim edən öncül bir şirkətdir. Geniş məhsul çeşidliliyimizdə mobil telefonlar, televizorlar, kompüterlər və daha çoxu mövcuddur. Bizim saytımıza müraciət edin və keyfiyyətli elektronik cihazlarımızı kəşf edin.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Telehome -Elektronik Cihazların Satışı">
    <meta property="og:description" content="Telehome, uyğun qiymətlərlə ən yeni elektronik cihazları təqdim edən öncül bir şirkətdir.">
    <meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUaalpp00tFMT2G_vhx9ua0CHZx25LaRcXGQh2o2NCaZcQWyVLO7mGj87NDyKRaJjwwQM&usqp=CAU">
    <meta property="og:url" content="http://www.telehome.az/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/logos/instalogored.png">
    <link rel="stylesheet" href="~/css/swiper-bundle.css">
    @*<link rel="stylesheet" href="~/css/magnific-popup.css">*@
    <link rel="stylesheet" href="~/css/font-awesome-pro.css">
    <link rel="stylesheet" href="~/css/flaticon_shofy.css">
    <link rel="stylesheet" href="~/css/spacing.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link href="~/css/notification.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css">
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css">


  
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '982103022953206');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=982103022953206&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <meta name="facebook-domain-verification" content="59ua2qkdc4a98k06zfe9jncin1qxf2" />
    <script>
        fbq('track', 'ViewContent', {
            value: 0,
            currency: '0',
            content_ids: '0',
            content_type: '0',
        });
    </script>
    <script>
        fbq('track', 'Search', {
            search_string: '0',
            content_ids: '0',
            content_type: '0',
        });
    </script>
    <script>
        fbq('track', 'AddToCart', {
            value: 0,
            currency: '0',
            contents: [
                {
                    quantity: 0,
                    id: '0'
                }
            ],
            content_ids: '0',
            content_type: '0',
        });
    </script>
    <script>
        fbq('track', 'Purchase', {
            value: 0,
            currency: '0',
            contents: [
                {
                    id: '0',
                    quantity: 0
                }
            ],
            content_ids: '0',
            content_type: '0',
        });
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T6NJL7T');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6NJL7T"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <script src="~/js/vendor/jquery.js"></script>
    @await RenderSectionAsync("style", required: false)
    

</head>
<body>
    <div id="toasts"></div>

@*    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="tp-preloader-content">
                    <div class="tp-preloader-logo">
                        <div class="tp-preloader-circle">
                            <a href="/Main/Home">
                                <img src="~/img/telehomelogo2.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>

    <div class="offcanvas__area offcanvas__radius">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__close">
                <button class="offcanvas__close-btn offcanvas-close-btn">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="offcanvas__content">  

                <div class="offcanvas__top mb-70 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo logo">
                       
                          @await Component.InvokeAsync("MobileCategory")
                    </div>
                </div>
                <div class="offcanvas__category pb-40">
                    <div class="tp-category-mobile-menu">
@*                       @await Component.InvokeAsync("Category")
*@                    </div>
                </div>
                <div class="tp-main-menu-mobile fix d-lg-none mb-40"></div>

                <div class="offcanvas__contact align-items-center d-none">
                    <div class="offcanvas__contact-icon mr-20">
                        <a href="#">
                            <span>
                                <img data-src="../img/icon/contact.png" class="lazy" alt="">
                            </span>
                        </a>
                    </div>
                    <div class="offcanvas__contact-content">
                        <h3 class="offcanvas__contact-title">
                            <a href="https://wa.me/++994516661922">+994 51 666 19 22</a>
                        </h3>
                    </div>
                </div>
                <div class="offcanvas__btn">
                     
@*                    @await Component.InvokeAsync("Category")
*@
@*                    <a href="~/main/contact" class="tp-btn-2 tp-btn-border-2">@localizer["Bizimlə əlaqə"]</a>
*@                </div>
            </div>
        </div>
    </div>
    <div id="tp-bottom-menu-sticky" class="tp-mobile-menu d-lg-none">
        <div class="container">
            <div class="row row-cols-5">
                <div class="col">
                    <div class="tp-mobile-item text-center">
                        <a href="/" class="tp-mobile-item-btn">
                            <i class="flaticon-store"></i>
                            <span>@localizer["Mağaza"]</span>
                        </a>
                    </div>
                </div>
                
                <div class="col">
                    <div class="tp-mobile-item text-center">
                        <a href="/Main/Home">
                            <button class="tp-mobile-item-btn tp-search-open-btn">
                                <i class="flaticon-search-1"></i>
                                <span>@localizer["Axtar"]</span>
                            </button>
                        </a>
                    </div>
                </div>
                
                <div class="col">
                    <div class="tp-mobile-item text-center">
                        <a href="~/main/basket" class="tp-mobile-item-btn ">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>@localizer["Səbət"]</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="tp-mobile-item text-center">
                        <a href="~/main/myprofile" class="tp-mobile-item-btn">
                            <i class="flaticon-user"></i>
                            <span>@localizer["Profil"]</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="tp-mobile-item text-center">
                        <button class="tp-mobile-item-btn tp-offcanvas-open-btn">
                            <i class="flaticon-menu-1"></i>
                            <span>@localizer["Menyu"]</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-lg-none d-xs-block">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-search-form">
                    <div class="tp-search-close text-center mb-20">
                        <button class="tp-search-close-btn tp-search-close-btn"></button>
                    </div>
                    <form action="~/Main/FilterRedirect" method="post">
                        <div class="tp-search-input mb-10">
                            <input type="text" name="search" placeholder="@localizer["Məhsul axtar..."]">
                            <button type="submit"><i class="flaticon-search-1"></i></button>
                        </div>
                        <div class="tp-search-category">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Sidebar")


    <header>
        <div class="tp-header-area tp-header-style-primary tp-header-height py-3">
            <div id="header-sticky" class="tp-header-bottom-2 tp-header-sticky">
                <div class="menuEsas">
                    <div class="tp-mega-menu-wrapper p-relative">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-2 d-block d-sm-none col-lg-5 col-md-5 col-sm-4 col-4">
                                <div class="logo">
                                    <a href="/">
                                        <img src="~/logos/2500x437.png" alt="logo">
                                    </a>
                                </div>
                            </div>

                            <div class="col-xl-2 text-center d-none d-xl-block headLogoTelehome">
                                <a href="/Main/Home">
                                    <img src="~/logos/2500x437.png" />
                                </a>
                            </div>
                            @await Component.InvokeAsync("Category")

                            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-8 col-6 " style="color:red !important;">
                                <div class="tp-header-bottom-right d-flex align-items-center justify-content-end pl-30">
                                    <div class="tp-header-search-2 d-none d-sm-block">
                                        <form action="~/Main/FilterRedirect" method="post">
                                            <div class="tp-search-input mb-10">
                                                <input type="text" id="searchInput" name="search">
                                                <button type="submit"><i class="flaticon-search-1"></i></button>
                                            </div>
                                            <div class="tp-search-category">
                                            </div>
                                        </form>

                                    </div>
                                    @await Component.InvokeAsync("Profile")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="tp-footer-area" data-bg-color="footer-bg-grey">
            <div class="tp-footer-top pt-95 pb-40">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
                            <div class="tp-footer-widget footer-col-1 mb-50">
                                <div class="tp-footer-widget-content">
                                    <div class="tp-footer-logo">
                                        <a href="/">
                                            <img src="~/logos/2500x437.png" class="foottelehome" alt="Telehome">
                                        </a>
                                    </div>
                                    <p class="tp-footer-desc">@localizer["Telehome ən son texnologiyalı elektronika cihazlarını təqdim edən bir mağazadır. Sizinə ən yaxşı alış-veriş təcrübəsini yaşatmaq üçün buradayıq. Suallarınız və tövsiyələriniz üçün bizə müraciət etməkdən çəkinməyin."]</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="tp-footer-widget footer-col-2 mb-50">
                                <h4 class="tp-footer-widget-title">QR kodu oxut</h4>
                                <div class="tp-footer-widget-content">
                                    <img src="~/logos/frame-removebg-preview.png" alt="Alternate Text" class="footQR" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="tp-footer-widget footer-col-3 mb-50">
                                <h4 class="tp-footer-widget-title">Qısa yollar</h4>
                                <div class="tp-footer-widget-content">
                                    <ul>
                                        <li><a href="/">@localizer["Əsas səhifə"]</a></li>
                                        <li><a href="#">@localizer["Haqqımızda"]</a></li>
                                        <li><a href="~/main/contact">@localizer["Əlaqə"]</a></li>
                                        <li><a href="~/main/basket">@localizer["Səbət"]</a></li>
                                        <li><a href="#">@localizer["Filiallarımız"]</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="tp-footer-widget footer-col-4 mb-50">
                                <h4 class="tp-footer-widget-title">@localizer["Əlaqə saxlayın"]</h4>
                                <div class="tp-footer-widget-content">
                                    <div class="tp-footer-talk mb-20">
                                        <h5><a href="https://wa.me/+994516661922">+994 51 666 19 22</a></h5>
                                    </div>
                                    <div class="tp-footer-contact">
                                        <div class="tp-footer-contact-item d-flex align-items-start">
                                            <div class="tp-footer-contact-icon">
                                                <span>
                                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6H5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M13 5.40039L10.496 7.40039C9.672 8.05639 8.32 8.05639 7.496 7.40039L5 5.40039" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M1 11.4004H5.8" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M1 8.19922H3.4" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="tp-footer-contact-content">
                                                <p><a href="mailto:info@telehome.az">@localizer["Poçt ünvanımız"]</a></p>
                                            </div>
                                        </div>
                                        <div class="tp-footer-contact-item d-flex align-items-start">
                                            <div class="tp-footer-contact-icon">
                                                <span>
                                                    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.50001 10.9417C9.99877 10.9417 11.2138 9.72668 11.2138 8.22791C11.2138 6.72915 9.99877 5.51416 8.50001 5.51416C7.00124 5.51416 5.78625 6.72915 5.78625 8.22791C5.78625 9.72668 7.00124 10.9417 8.50001 10.9417Z" stroke="currentColor" stroke-width="1.5" />
                                                        <path d="M1.21115 6.64496C2.92464 -0.887449 14.0841 -0.878751 15.7889 6.65366C16.7891 11.0722 14.0406 14.8123 11.6313 17.126C9.88298 18.8134 7.11704 18.8134 5.36006 17.126C2.95943 14.8123 0.210885 11.0635 1.21115 6.64496Z" stroke="currentColor" stroke-width="1.5" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="tp-footer-contact-content">
                                                <p><a href="https://www.google.com/maps/place/Telehome/@@40.3757852,49.8127991,17z/data=!4m6!3m5!1s0x40307da04d52c9ab:0x1571496b45078fe!8m2!3d40.3757812!4d49.8159963!16s%2Fg%2F11pw41blww?entry=ttu" target="_blank">@localizer["Bakı şəhəri"]. <br> @localizer["Hüseyn Cavid Prospekti"].</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="tp-footer-social">
                                <a target="_blank" href="https://www.facebook.com/telehome.az"><i class="fa-brands fa-facebook-f"></i></a>
                                <a target="_blank" href="https://www.instagram.com/telehome.electronics/"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-footer-bottom">
                <div class="container">
                    <div class="tp-footer-bottom-wrapper">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="tp-footer-copyright">
                                    <p>© @DateTime.Now.Year | <a target="_blank" href="http://aimtech.az/"><span style="color:#F5D858;font-weight:900">AimTech</span></a></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tp-footer-payment text-md-end">
                                    <p>
                                        <img data-src="../img/footer/footer-pay.png" class="lazy" alt="">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

    <style>

        #searchInput {
            color: grey;
        }

            #searchInput:focus {
                outline: none;
                border-bottom: 1px solid black;
            }

        .footQR{
            width:100%;
            height:100%;
        }
        @@media (max-width:768px){
            .footQR {
                width: 44%;
            }
        }


    </style>

    <script>
        $('.lazy').lazy({
            scrollDirection: 'vertical',
            effect: 'fadeIn',
            visibleOnly: true,
            onError: function (element) {
                console.log('error loading ' + element.data('data-src'));
            }
        });





        $(document).ready(function () {
            var keywords = ["Apple", "Samsung", "Paltaryuyan", "Soyuducu", "Noutbuk", "Galaxy", "Smartwatch"];
            var input = $("#searchInput");
            var currentIndex = 0;
            var interval;

            function animateKeyword(keyword) {
                var index = 0;
                interval = setInterval(function () {
                    var partialKeyword = keyword.slice(0, index);
                    input.attr('placeholder', partialKeyword); // Placeholder olarak ayarla
                    index++;
                    if (index > keyword.length) {
                        clearInterval(interval);
                        setTimeout(function () {
                            input.attr('placeholder', ""); // Placeholder'ı temizle
                            setTimeout(animateKeywords, 1000);
                        }, 1000);
                    }
                }, 100);
            }

            function animateKeywords() {
                animateKeyword(keywords[currentIndex]);
                currentIndex = (currentIndex + 1) % keywords.length;
            }

            animateKeywords();

            input.on('focus', function () {
                clearInterval(interval); // Animasyonu durdur
                input.attr('placeholder', ""); // Placeholder'ı temizle
            });

            input.on('blur', function () {
                if (!input.val()) { // Eğer input boşsa animasyonu tekrar başlat
                    animateKeywords();
                }
            });

            input.on('input', function () {
                clearInterval(interval); // Kullanıcı yazarken animasyonu durdur
            });
        });

    </script>




    <script src="~/js/vendor/waypoints.js"></script>
    <script src="~/js/bootstrap-bundle.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/js/swiper-bundle.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/range-slider.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <script src="~/js/nice-select.js"></script>
    <script src="~/js/purecounter.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/isotope-pkgd.js"></script>
    <script src="~/js/imagesloaded-pkgd.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("scripts", required: false)


    
</body>

</html>

