@model ForgotPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<main>
  
    <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                        </div>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">@localizer["Şifrəni sıfırlamaq"]</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">@localizer["Əsas səhifə"]</a></span>
                            <span>@localizer["Şifrəni sıfırlamaq"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tp-login-area pb-140 p-relative z-index-1 fix">
        <div class="tp-login-shape">
            <img class="tp-login-shape-1" src="~/img/login/login-shape-1.png" alt="Telehome">
            <img class="tp-login-shape-2" src="~/img/login/login-shape-2.png" alt="Telehome">
            <img class="tp-login-shape-3" src="~/img/login/login-shape-3.png" alt="Telehome">
            <img class="tp-login-shape-4" src="~/img/login/login-shape-4.png" alt="Telehome">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="tp-login-wrapper">
                     @*   <div class="tp-login-top text-center mb-30">
                            <h3 class="tp-login-title">Şifrəni sıfırlamaq</h3>
                            <p>Şifrənin sıfırlanmasını tələb etmək üçün e-poçt ünvanınızı daxil edin.</p>
                        </div>*@

                            <form asp-action="ForgotPassword" method="post">
                                <div class="tp-login-option">
                                    <div class="tp-login-input-wrapper">
                                        <div class="tp-login-input-box">
                                            <div class="tp-login-input">
                                                <input id="email" type="email" name="Email" asp-for="Email" placeholder="example@gmail.com">
                                            </div>
                                            <div class="tp-login-input-title">
                                            <label for="email">@localizer["E-poçt"]</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-login-bottom mb-15">
                                    <button type="submit" class="tp-login-btn w-100">@localizer["E-poçt göndər"]</button>
                                    </div>
                                    <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-center">
                                        <div class="tp-login-forgot">
                                        <span>@localizer["Şifrəni xatırladınız?"] <a href="~/Main/Login"> @localizer["Daxil ol"]</a></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>