@model ResetPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<main>

    <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                   
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }
                    @if (ViewBag.Verify != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Verify. <a class="text-success" href="~/Main/Forgotpassword">@localizer["Şifrəni sıfırlamaq"]</a>
                        </div>
                    }
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">@localizer["Şifrəni sıfırlamaq"]</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">@localizer["Əsas səhifə"]</a></span>
                            <span>@localizer["Əsas səhifə"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tp-login-area pb-140 p-relative z-index-1 fix">
        <div class="tp-login-shape">
            <img class="tp-login-shape-1" src="~/img/login/login-shape-1.png" alt="Telehome">
            <img class="tp-login-shape-2" src="~/img/login/login-shape-2.png" alt="Telehome">
            <img class="tp-login-shape-3" src="~/img/login/login-shape-3.png" alt="Telehome">
            <img class="tp-login-shape-4" src="~/img/login/login-shape-4.png" alt="Telehome">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="tp-login-wrapper">
                        <form asp-action="ResetPassword" method="post">
                            <div class="tp-login-option">
                                <div class="tp-login-input-wrapper">
                                    <div class="tp-login-input-box">
                                        <div class="tp-login-input">
                                            <input id="pass" type="password" required name="NewPassword" placeholder="@localizer["Yeni şifrə"]">
                                        </div>
                                        <div class="tp-login-input-title">
                                            <label for="pass">@localizer["Yeni şifrə"]</label>
                                        </div>
                                    </div>
                                    <div class="tp-login-input-box">
                                        <div class="tp-login-input">
                                            <input id="passo" type="password" required name="ConfirmNewPassword" placeholder="@localizer["Təkrar yeni şifrə"]">
                                        </div>
                                        <div class="tp-login-input-title">
                                            <label for="passo">@localizer["Təkrar yeni şifrə"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tp-login-bottom mb-15">
                                    <button type="submit" class="tp-login-btn w-100">@localizer["Göndər"]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
