@model List<IsFavoriteProduct>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<main>
    <section class="breadcrumb__area include-bg pt-100 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">@ViewBag.Sub</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">@localizer["Əsas səhifə"]</a></span>
                            <span>@ViewBag.Sub</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tp-shop-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <form id="search" action="" method="post">
                        <div class="tp-shop-sidebar mr-10">
                            <div class="tp-shop-widget mb-50">
                                <h3 class="tp-shop-widget-title">@localizer["Brendlər"]</h3>
                                <div class="tp-shop-widget-content">
                                    <div class="tp-shop-widget-categories">
                                        <ul id="dropdown-list">
                                            @foreach (DeepCategory sub in ViewBag.DeepKat)
                                            {
                                                <li><a href="~/Main/ShopForDeepCategory/@sub.DeepCategoryId">@sub.DeepCategoryName</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="tp-shop-main-wrapper text-center">
                        <div class="tp-shop-top mb-45">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="tp-shop-top-left d-flex align-items-center">
                                        <div class="tp-shop-top-result">
                                            <p>@localizer["Ümumi məhsul sayı"]: @ViewBag.Count</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="tp-shop-top-right d-sm-flex align-items-center justify-content-xl-end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-shop-items-wrapper tp-shop-item-primary">
                            <div class="tab-content" id="productTabContent">
                                <div class="tab-pane fade show active" id="grid-tab-pane" role="tabpanel" aria-labelledby="grid-tab" tabindex="0">
                                    <div class="row infinite-container" id="products">
                                        @foreach (var item in Model)
                                        {
                                            <div class="col-md-4 col-sm-6 mt-4">
                                                <div class="product-grid">
                                                    <div class="product-image">
                                                        <a href="~/main/productdetails/@item.Product.ProductId" class="image">
                                                            <img class="pic-1" src="~/sekiller/@item.Product.ProductFirstPhotoUrl" alt="@item.Product.ProductDeepCategory.DeepCategoryName">
                                                        </a>
                                                        <span class="@(item.Product.ProductIsSctock==true ? "product-sale" : "product-hot")">@(item.Product.ProductIsSctock == true ? localizer["Stokda var"] : localizer["Stokda yoxdur"])</span>
                                                        <ul class="product-links">
                                                            <li data-productid="@item.Product.ProductId" onclick="postfavorite('@item.Product.ProductId')"><a href="#" onclick="event.preventDefault();" data-tip="@localizer["İstək siyahısına əlavə edin"]"><i class="fas fa-heart @(item.IsFavorite==true ? "text-danger" : "text-black")"></i></a></li>
                                                            <li data-productid="@item.Product.ProductId" onclick="postbasket('@item.Product.ProductId')"><a href="#" onclick="event.preventDefault();" data-tip="@localizer["Səbət"]"><i class="fa-solid fa-basket-shopping @(item.IsBasket==true ? "text-primary" : "text-black")"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3 class="title"><a href="#">@(item.Product.ProductName.Length < 20 ? item.Product.ProductName.Substring(0, item.Product.ProductName.Length) : item.Product.ProductName.Substring(0, 20))</a></h3>
                                                        @{
                                                            var secondPrice = item.Product.ProductWithoutPrice;
                                                            var mainprice = item.Product.ProductPrice;
                                                        }
                                                        @if (item.Product.ProductWithoutPrice is not null)
                                                        {
                                                            <div class="second-price"><del>@string.Format("{0:N2}", mainprice) ₼</del></div>
                                                            <div class="price">@secondPrice ₼</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="price">@item.Product.ProductPrice ₼</div>

                                                        }
                                                        <a class="add-to-cart" href="~/main/productdetails/@item.Product.ProductId">@localizer["Ətraflı bax"]</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="infinite-pagination d-none">
                            <a href="#" class="infinite-next-link">@localizer["Növbəti"]</a>
                        </div>
                        <div class="tp-shop-pagination mt-20">
                            @if (Model.Count != 0)
                            {
                                <button type="button" id="pagination" class="btn btn-success">@localizer["Daha çox"]</button>
                            }
                            else
                            {
                                <h3>@localizer["Heç bir məhsul tapılmadı"]...</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section style{
    <style>
        .dropdown-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }

            .dropdown-list.active {
                max-height: 500px;
            }

        .fa-chevron-down {
            transition: transform 0.3s ease;
        }

            .fa-chevron-down.active {
                transform: rotate(180deg);
            }

        .top-level-item {
            font-size: 17px !important;
        }

        .child-item {
            font-size: 14px;
        }

        .mg {
            margin-right: 7px;
        }
    </style>
}
@section scripts{
    <script src="~/js/vendor/jquery.js"></script>

    <script>
        var bskt = document.querySelector('.bskt');
        var fvrt = document.querySelector('.fvrt');
        function postfavorite(productId) {
            if (!isUserAuthenticated()) {
                window.location.href = "/main/login";
                return;
            }
            console.log(productId)
            var formdata = new FormData();
            formdata.append('productId', productId);
            $.ajax({
                type: 'POST',
                url: '/Main/PostFavorite',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: (res) => {
                    console.log(res);
                    var heartIcon = $(`li[data-productid="${productId}"] i.fa-heart`);
                    if (heartIcon.hasClass('text-danger')) {
                        fvrt.textContent = parseInt(fvrt.textContent) - 1;
                        heartIcon.removeClass('text-danger');
                        heartIcon.addClass('text-black');
                    } else {
                        fvrt.textContent = parseInt(fvrt.textContent) + 1;
                        heartIcon.removeClass('text-black');
                        heartIcon.addClass('text-danger');
                    }
                },
                error: function () {
                    console.log('Xəta baş verdi');
                }
            });
        }
        function postbasket(productId) {
            if (!isUserAuthenticated()) {
                window.location.href = "/main/login";
                return;
            }
            console.log(productId)
            var formdata = new FormData();
            formdata.append('productId', productId);
            $.ajax({
                type: 'POST',
                url: '/Main/PostBasket',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: (res) => {

                    console.log(res);
                    var heartIcon = $(`li[data-productid="${productId}"] i.fa-basket-shopping`);
                    if (heartIcon.hasClass('text-primary')) {
                        toastNotif({
                            text: '@localizer["Məhsulunuz səbətdən uğurla silindi!"]',
                            color: '#d92402',
                            timeout: 2000,
                            icon: 'error'
                        });
                        bskt.textContent = parseInt(bskt.textContent) - 1;
                        heartIcon.removeClass('text-primary');
                        heartIcon.addClass('text-black');
                    } else {
                        toastNotif({
                            text: '@localizer["Məhsulunuz səbətə uğurla əlavə edildi!"]',
                            color: '#35ac18',
                            timeout: 2000,
                            icon: 'valid'
                        });
                        bskt.textContent = parseInt(bskt.textContent) + 1;
                        heartIcon.removeClass('text-black');
                        heartIcon.addClass('text-primary');
                    }
                },
                error: function () {
                    console.log('@localizer["Xəta baş verdi"]');
                }
            });
        }
        let page = 1;
        const path = window.location.pathname.split('/');
        const id = path[path.length - 1];

        $('#pagination').click(function () {
            //page++;
            performSearch();
        });

        $('#search').submit(function (e) {
            e.preventDefault();
            page = 0;
            performSearch();
        });

        function performSearch() {
            let formdata = new FormData($('#search')[0]);
            formdata.append("offset", page);
            formdata.append("id", id);
            var techCharacteristicNames = [];
            var checkboxes = document.querySelectorAll('input[name="contentId"]:checked');
            checkboxes.forEach(function (checkbox) {
                var contentId = checkbox.getAttribute("data-contentid");
                techCharacteristicNames.push(contentId);
            });
            for (var i = 0; i < techCharacteristicNames.length; i++) {
                formdata.append('techCharacteristicIds', techCharacteristicNames[i]);
            }
            var checkedValues = [];
            $('input[name="contentId"]:checked').each(function () {
                var value = $(this).val();
                checkedValues.push(value);
            });
            for (var i = 0; i < checkedValues.length; i++) {
                formdata.append('techCharacteristicsContentTitles', checkedValues[i]);
            }
            formdata.append('maxProducts', @ViewBag.Count);
            var maxProducts = @ViewBag.Count
                console.log(page)
            $.ajax({
                type: 'POST',
                url: '/Main/Search',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: (res) => {
                    console.log(res);
                    //$('#products').empty()
                    $(res).each(function () {
                        console.log(this);
                        $('#products').append(`
                                                                                         <div class="col-md-4 col-sm-6 mt-4">
                                                                                                                        <div class="product-grid">
                                                                                                                            <div class="product-image">
                                                                                                                                    <a href="/main/productdetails/${this.productId}" class="image">
                                                                                                                                                            <img class="pic-1" src="/sekiller/${this.productFirstURL}" alt="${this.productName}">
                                                                                                                                </a>

                                                                                                                                                <span class="${this.productIsSctock ? "product-sale" : "product-hot"}">${this.productIsSctock ? "Stokda var" : "Stokda yoxdur"}</span>
                                                                                                                                <ul class="product-links">
                                                                                                                                                                        <li data-productid="${this.productId}" onclick="postfavorite('${this.productId}')"><a href="#" onclick="event.preventDefault();" data-tip="İstək siyahısına əlavə edin"><i class="fas fa-heart ${this.isInFavorite ? "text-danger" : "text-black"}"></i></a></li>
                                                                                                                                                                    <li data-productid="${this.productId}" onclick="postbasket('${this.productId}')"><a href="#" onclick="event.preventDefault();" data-tip="Səbət"><i class="fa-solid fa-basket-shopping ${this.isInBasket ? "text-primary" : "text-black"}"></i></a></li>
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                            <div class="product-content">
                                                                                                                                            <h3 class="title"><a href="#">${this.productName.length < 20 ? this.productName.substring(0, this.productName.length) : this.productName.substring(0, 20)}</a></h3>
                                                                                                                                          ${this.productWithoutPrice ? `
                                                                                                                                               <div class="second-price"><del>${this.productPrice} ₼</del></div>
                                                                                                                                               <div class="price">${this.productWithoutPrice} ₼</div>
                                                                                                                                             ` : `
                                                                                                                                               <div class="price">${this.productPrice} ₼</div>
                                                                                                                                             `}
                                                                                                                                       
                                                                                                                                        <a class="add-to-cart" href="/main/productdetails/${this.productId}">Ətraflı bax</a>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                `);
                    });
                    if ((page + 1) * 6 >= maxProducts) {
                        $('#pagination').hide();
                    } else {
                        $('#pagination').show();
                        page++;
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                }
            });
        }
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            function isUserAuthenticated() {
                return true;
            }
        </script>
    }
    else
    {
        <script>
            function isUserAuthenticated() {
                return false;
            }
        </script>
    }
}